<div class="services">
  <h2>Integer bibendum sit amet arcu vel egestas</h2>
  <div class="services__items">
    <div class="services__items-first service--box">
      <i class="fas fa-users fa-5x"></i>
      <div class="services__items--label">
        <label>Service Name</label>
      </div>
    </div>
    <div class="services__items-second service--box">
      <i class="fas fa-user-cog fa-5x"></i>
      <div class="services__items--label">
        <label>Service Name</label>
      </div>
    </div>
    <div class="services__items-third service--box">
      <i class="fas fa-users fa-5x"></i>
      <div class="services__items--label">
        <label>Service Name</label>
      </div>
    </div>
  </div>
</div>
