<div class="company-form">
  <div class="company-form__text">
    <h2>Convinced To Work With Us?</h2>
    <p>Company has helped agencies to keep their promises to clients since 2005.</p>
  </div>

  <div class="company-form__fields">
    <div class="company-form__fields--first">
      <div class="company-form__fields--first company--fields">
        <input type="text" placeholder="Fullname">
      </div>
      <div class="company-form__fields--first company--fields">
        <input type="text" placeholder="Email Address">
      </div>
      <div class="company-form__fields--first company--fields">
        <input type="text" placeholder="Phone Number">
      </div>
    </div>
    <div class="company-form__fields--last">
      <div class="company-form__fields--last message--field">
        <input type="text" placeholder="Message in brief">
      </div>
    </div>
  </div>

  <div class="company-form__button">
    <button>Submit</button>
  </div>
</div>
