<footer>
  <div class="company__footer">
    <span class="company__footer--left">&copy; {{ appConstant }}</span>
    <span class="company__footer--right">
      <label class="company__footer--right-text">Follow us on:</label>
      <span class="company__footer--right-links">
        <span><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></span>
        <span><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
        <span><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
        <span><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
      </span>
    </span>
  </div>
</footer>
