<div class="locations">
  <div class="locations__body">
    <h2>We are Axelerant.</h2>
    <p>
      Meet our fully distributed agency of 80+ digital dreamers and doers. We
      login from around the world—over five countries, six time zones, and
      counting—to do things differently.
    </p>
  </div>
  <div class="locations__map">
    <img
      src="https://www.axelerant.com/sites/default/files/2019-11/Location-Map-Axelerant.png"
      alt="Home page location"
      width="800"
      height="400"
    />
  </div>
</div>
